@font-face {
	font-family: 'Acumin pro';
	src: local('Acumin pro'), url(./fonts/Acumin-BdPro.otf) format('truetype');
	font-family: 'Acumin pro light';
	src: local('Acumin pro light'), url(./fonts/Acumin-RPro.otf) format('truetype');
}

html, body, #root {
	font-family: 'Acumin pro', sans-serif;
	background-color: rgb(243, 244, 246);
    margin: 0;
    height: 100%;
	display: grid;
}

.main {
	display: flex;
	margin: auto;
	width: 90%;
	height: 90%;
}

.left {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 7px;
	overflow: hidden;
	display: grid;
	flex: 20%;
	background-color:white;
}

.left-content {
	width: 90%;
	height: 90%;
	margin: auto;
}

.timePeriodSelect{
	margin-top: 5%;
}

.main-title {
	font-size: 22px;
	margin-top: 0px;
	margin-bottom: 25px;
}

.select {
	margin-top: 5px;
}

.topbar-item {
	width: 20%;
	display: grid;
}

.topbar-item-icon {
	width: 13%;
	display: grid;
}

.topbar-item-main {
	width: 27%;
	display: grid;
}

.topbar-item-content {
	width: 90%;
	height: 80%;
	margin: auto;
}

.topbar-item-content-icon {
	display: grid;
}

.topbar-subtitle {
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: 400;
	line-height: 0,75
}

.topbar-subtitle-content {
	font-size: 22px;
	font-weight: 700;
	line-height: 0.5;
}

.topbar-pricechange {
	font-size: 18px;
	font-weight: 700;
	line-height: 0.5;
}

.topbar-subtitle-content-positive{
	color: #11b97f;
}

.topbar-subtitle-content-negative{
	color: rgb(255, 66, 66);
}

.coinIcon {
	margin: auto;
	height: 50px;
}

.right {
	margin-left: 1%;
	flex: 80%;
}

.topbar {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	overflow: hidden;
    border-radius: 7px;
	background-color:white;
	height: 15%;
	width: 100%;
	display: flex;
}

.graphic {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	overflow: hidden;
    border-radius: 7px;
	margin-top: 1%;
	height: 83%;
	width: 100%;
	background-color: rgba(99, 102, 241);
}